@model Web_vuottai.Models.CHUCVU

@{
    ViewData["Title"] = "Details";
}

<h1>CHI TIẾT THÔNG TIN CHỨC VỤ</h1>

<div>
    <h4>CHỨC VỤ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyLeDinhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyLeDinhMuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChucVuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
