@model Web_vuottai.Models.MONHOC

@{
    ViewData["Title"] = "Details";
}

<h1>CHI TIẾT THÔNG TIN MÔN HỌC</h1>

<div>
    <h4>MÔN HỌC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MonHocId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
