<!doctype html>
<html lang="en" data-bs-theme="blue-theme">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Quản lý vượt tải</title>
    <!--favicon-->
    <link rel="icon" href="~/images/Logo_MTA_new.png" type="image/png">
    <!-- loader-->
    <link href="~/maxson/assets/css/pace.min.css" rel="stylesheet">

    <!--plugins-->
    <link rel="stylesheet" href="~/maxson/assets/plugins/swiper/css/swiper-bundle.min.css">
    <!--bootstrap css-->
    <link href="~/maxson/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="~/maxson/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/maxson/sass/main.css" rel="stylesheet">
    <link href="~/maxson/assets/css/horizontal-menu.css" rel="stylesheet">
    <link href="~/maxson/sass/dark-theme.css" rel="stylesheet">
    <link href="~/maxson/sass/blue-theme.css" rel="stylesheet">
    <link href="~/maxson/sass/semi-dark.css" rel="stylesheet">
    <link href="~/maxson/sass/responsive.css" rel="stylesheet">

</head>

<body>

    <!--start header-->
    <header class="top-header">
        <nav class="navbar navbar-expand align-items-center justify-content-between gap-4 container px-4">
            <div class="logo-header d-none d-xl-flex align-items-center gap-2">
                <div class="logo-icon">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/Logo_MTA_new.png" class="logo-img" width="45" alt=""></a>
                </div>
                <div class="logo-name">
                    <h5 class="mb-0">Học viện Kỹ thuật Quân sự</h5>
                </div>
            </div>
            <div class="btn-toggle d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
                <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
            </div>
        </nav>
    </header>
    <!--end top header-->
    <!--navigation-->
    <div class="primary-menu">
        <nav class="navbar navbar-expand-xl align-items-center container px-4 py-0 py-xl-2">
            <div class="offcanvas offcanvas-start w-260" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-header border-bottom h-70">
                    <div class="d-flex align-items-center gap-2">
                        <div class="">
                            <img src="~/images/Logo_MTA_new.png" class="logo-icon" width="45" alt="logo icon">
                        </div>
                        <div class="">
                            <h4 class="logo-text">Học viện Kỹ thuật Quân sự</h4>
                        </div>
                    </div>
                    <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
                        <i class="material-icons-outlined">close</i>
                    </a>
                </div>
                <div class="offcanvas-body p-0">
                    <ul class="navbar-nav align-items-center flex-grow-1 gap-xl-2">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <div class="parent-icon">
                                    <i class="material-icons-outlined">home</i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Trang chủ</div>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='material-icons-outlined'>settings</i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Quản lý</div>
                                <div class="ms-auto dropy-icon">
                                    <i class='material-icons-outlined'>expand_more</i>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="GIANGVIENs" asp-action="Index"><i class='material-icons-outlined'>circle</i>Quản lý Giảng viên</a></li>
                                <li><a class="dropdown-item" asp-controller="LOPs" asp-action="Index"><i class='material-icons-outlined'>circle</i>Quản lý Lớp</a></li>
                                <li><a class="dropdown-item" asp-controller="MONHOCs" asp-action="Index"><i class='material-icons-outlined'>circle</i>Quản lý Môn học</a></li>
                                <li><a class="dropdown-item" asp-controller="DONVIs" asp-action="Index"><i class='material-icons-outlined'>circle</i>Quản lý Đơn vị</a></li>
                                <li><a class="dropdown-item" asp-controller="CHUCVUs" asp-action="Index"><i class='material-icons-outlined'>circle</i>Quản lý Chức vụ</a></li>
                                <li><a class="dropdown-item" asp-controller="PhanCongChiTiet" asp-action="Index"><i class='material-icons-outlined'>circle</i>Phân công chi tiết</a></li>
                                <li><a class="dropdown-item" asp-controller="VuotTaiTongQuan" asp-action="Index"><i class='material-icons-outlined'>circle</i>Tổng quan vượt tải</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                                <div class="parent-icon">
                                    <i class='material-icons-outlined'>build</i>
                                </div>
                                <div class="menu-title d-flex align-items-center">Cấu hình</div>
                                <div class="ms-auto dropy-icon">
                                    <i class='material-icons-outlined'>expand_more</i>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="CauHinh" asp-action="DonGiaGio"><i class='material-icons-outlined'>circle</i>Đơn giá giờ</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--end navigation-->

    <div class="container">
        @RenderBody()
    </div>


    <!--start footer strip-->
    <footer class="footer-strip py-3 border-top">
        <div class="container px-4">
            <div class="row g-4 align-items-center">
                <div class="col-12 col-lg-auto">
                    <p class="mb-0 font-12">&copy; 2025 All rights reserved.</p>
                </div>
            </div><!--end row-->
        </div>
    </footer>
    <!--end footer strip-->
    
    <!--back to top button-->
    <a href="javaScript:;" class="back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!--end back to top button-->
    <!--bootstrap js-->
    <script src="~/maxson/assets/js/bootstrap.bundle.min.js"></script>
    <!--loader js-->
    <script src="~/maxson/assets/js/pace.min.js"></script>

    <!--plugins-->
    <script src="~/maxson/assets/js/jquery.min.js"></script>
    <!-- Swiper JS -->
    <script src="~/maxson/assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <script src="~/maxson/assets/plugins/swiper/js/swiper-bundle.min.js"></script>
    <script src="~/maxson/assets/plugins/swiper/js/swiper-bundle.min.js"></script>
    
    <script src="~/maxson/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
